<%- include('../partials/headerCaja.ejs'); %>


    <div class="container">

		<div class="filaA row mt-4">
			<div class="col-md-8 columI">

				<div class="row">
				<form id="cajaCobroForm" class="d-flex justify-content-around">

					<input class="inputBuscar" id="textBuscar" type="text" placeholder="Buscar producto por código">
					<input id="sbBuscar" type="submit" class="btnBuscar" value="Buscar">				</form>	
				<div class="filaB row">


					<table class="table table-striped mt-4 mb-4">
						<tr>
							<th class="thNombre">Nombre</th>
							<th>Precio unitario</th>
							<th>Marcas</th>
							<th>Cantidad</th>
							<th><b>Subtotal</b></th>
						</tr>

						<tbody id="tablaCajaCobro">


						</tbody>

					
	
					</table>
					<div class="boxPrecioContainer">
					<div class="boxPrecio"><p id="total">Total: $</p></div>
					</div>
				</div> 
				</div>
					<div class="btnContainer mt-4">
						<div id="imprimirTicketC" class="btnFunc">Imprimir Ticket-C</div>
						<div id="cancelarCompra" class="btnFunc">Cancelar Compra</div>
						<div id="cambiarPrecio" class="btnFunc">Cambiar Precio</div>
						<div id="imprimirTicketA" class="btnFunc">Imprimir Ticket-A</div>
						<div id="eliminarProductos" class="btnFunc">Eliminar Producto</div>
						<div id="agregarProducto" class="btnFunc">Agregar prod. a la lista</div>
					</div>				
			</div>
			<div class="col-md-4 columD">
			<div class="row d-none filaDSup">
				<div class="emptyBtn"></div>
				<div class="emptyBtn"></div>
				<div class="emptyBtn"></div>
				<div class="emptyBtn"></div>
				<div class="emptyBtn"></div>
				</div>

	<div class="row filaDInf">
				<p class="subt">Dinero ingresado</p>
				<div class="boxDinero">
					<label>$</label><input id="dineroIngresado" type="number">
				</div>

				<p class="subt">Vuelto</p>

				<div class="boxDinero">
					<p id="vuelto">0.00</p>
				</div>
			</div>

			</div>

				</div>


	</div>     
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../edit.js"></script>
    <script src="../cajaCobro.js"></script>


    <%- include('../partials/footer.ejs'); %>
